<nav class="navbar">
    <div class="logo">
        <p>TELMAR</p>
    </div>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/agenda">Agenda</a></li>
        <li><a href="/funcoes">Funções</a></li>
        <li><a href="/servicos">Serviços</a></li>
        <li><a href="/funcionarios">Funcionários</a></li>
    </ul>
</nav>