<div class="container">
    <div class="containerTituloGrande">
        <h1 class="tituloGrande">Funções</h1>
    </div>

    <div class="containerAdicionarOuRemover">

        <form action="/funcoes/adicionar" method="POST" class="containerAdicionar">
            <div class="containerTituloPequeno">
                <h2 class="tituloPequeno">Adicionar Função</h2>
            </div>
            <div class="containerAcao">
                <div class="containerInput">
                    <label for="inputFuncao">Nome da função:</label>
                    <input type="text" class="input" name="inputFuncao" required>
                </div>
                <button type="submit" class="btn">Adicionar</a>
            </div>
        </form>

        <form action="/funcoes/remover" method="POST" class="containerRemover">
            <div class="containerTituloPequeno">
                <h2 class="tituloPequeno">Remover Função</h2>
            </div>
            <div class="containerAcao">
                <div class="containerInput">
                    <label for="select">Nome da função:</label>
                    <select class="select" name="selectFuncao" required>
                        <option value="0">Selecione a função</option>
                        <!--comando do handlebars: para cada função dentro do banco, crie um option
                        com o value sendo o id e com o conteúdo sendo o nome da funcão-->
                        {{#each funcoes}}
                        <option value="{{dataValues.id}}">{{{dataValues.nome}}}</option>
                        {{/each}}
                    </select>
                </div>
                <button type="submit" class="btn">Remover</button>
            </div>
        </form>

    </div>

</div>